<p style="font-weight: bolder; font-size: large; margin: 7%; margin-left: 40%;">Why invest with IQ Option?</p>
<div class="container">


    <div class="part">
        <p style="font-weight: bold;">Award-winning platform</p>
        <p>
            Award-winning software recognized and praised by the most respected experts of the industry.
        </p>
    </div>

    <div class="part">
       <p  style="font-weight: bold;">Customizable interface</p> 
        <p>
            Customize the platform to make it fit better to your needs — from chart type to color theme. </p>
    </div>
    <div class="part">
        <p style="font-weight: bold;">Convenient withdrawals</p>
        <p>
            Withdraw your money in an instant using a wide range of available payment systems.
         </p>
    </div>
</div>